---
import Layout from "../layouts/Main.astro";
import Entry from "../components/WorkEntry.astro";

const allPosts = Object.values(
	import.meta.glob("../pages/posts/*.md", { eager: true }),
);
---

<Layout heading="blog" title="blogblogblogblogblogblogblog">
	<div id="top">
		{
			allPosts.map((post: any) => <Entry link={post.url} readtime={post.frontmatter.minutesread} title={post.frontmatter.title} bio={post.frontmatter.subtitle} tags={post.frontmatter.tags} times={() => {
				const temp = post.frontmatter.startdate?.slice(0,10);
				return temp;
			}} />)
		}
	</div>
</Layout>

<style>
	div#top {
		padding: .5rem;
	}
</style>
