---
	import Layout from "../layouts/Main.astro";
	import Entry from "../components/WorkEntry.astro";

	import commprojects from "../data/community.json";
	import creative from "../data/creative.json";
	import code from "../data/code.json";
	import wip from "../data/wip.json";
---

<Layout heading="works" title="worksworksworksworksworksworks">
	<div class="head">
		<h1>community</h1>
		<div class="group">
			{
				commprojects.map(({ title, url, description, bio, tags, times}) => (
					<Entry title={title} link={url} description={description}, bio={bio}, tags={tags}, times={times} />
				))
			}
		</div>
		<h1 class="alt">creative</h1>
		<div class="group">
			{
				creative.map(({ title, url, description, bio, tags, times}) => (
					<Entry title={title} link={url} description={description}, bio={bio}, tags={tags}, times={times} />
				))
			}
		</div>
		<h1>code</h1>
		<div class="group">
			{
				code.map(({ title, url, description, bio, tags, times}) => (
					<Entry title={title} link={url} description={description}, bio={bio}, tags={tags}, times={times} />
				))
			}
		</div>

		<h1 class="alt">coming soon</h1>
		<div class="group">
			{
				wip.map(({ title, url, description, bio, tags, times}) => (
					<Entry title={title} link={url} description={description}, bio={bio}, tags={tags}, times={times} />
				))
			}
		</div>
	</div>
</Layout>

<style>
	h1 {
		padding: 0%;
		margin: 0%;
		text-align: left;
		font-size: 1rem;
		padding-top: .2rem;
		padding-bottom: .5rem;
	}

	h1.alt {
		text-align: right;
	}

	h1::before {
		content: "✮*•̩̩͙✧•̩̩͙*˚✧*˚ ";
	}

	h1::after {
		content: " ˚*✧˚*•̩̩͙✧•̩̩͙*˚✮";
	}

	.group {
		margin-bottom: .5rem;
	}
</style>