---
import "../styles/global.css";
import BlogHeader from "../components/BlogHeader.astro";
const { frontmatter, title } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="thummm.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>lucblog — {frontmatter.title}</title>

    <meta content={"lucblog — " + frontmatter.title} property="og:title" />
    <meta content={frontmatter.subtitle} property="og:description" />
    <meta content="https://lovepill.moe/blog" property="og:url" />
    <meta content="https://lovepill.moe/thummm.png" property="og:image" />
    <meta content="#f09a9a" data-react-helmet="true" name="theme-color" />
</head>

<!-- <script src="../pages/api/oneko.js"></script> -->

<div id="container">
    <div id="overhead">
        {
            frontmatter.header ? (
                <img class="header" src={frontmatter.header} />
            ) : (
                <img class="header" src={"/blog_header_alt3.png"} />
            )
        }
        <BlogHeader frontmatter={frontmatter} />
        <div id="content">
            <slot />
        </div>
    </div>
    <div id="back">
        <a href="/blog">go back</a>
    </div>
</div>

<style>
    img.header {
        max-width: 100%;
        height: auto;
        padding: 0%;
        margin: 0%;
    }

    #back {
        display: flex;
        text-align: left;
        height: min-content;
    }

    #container {
        display: flex;
        flex-direction: row;
    }

    #content {
        padding: 1.5%;
        padding-top: 0%;
    }

    #overhead {
        /* border: 1px solid white; */
        width: 60%;
        height: 97vh;
        max-height: 100vh;
        margin: auto;

        overflow-y: scroll;
        overflow-x: hidden;

        scrollbar-width: thin;
        scrollbar-color: #f09a9a #350808;
    }

    @media only screen and (max-width: 600px) {
        #container {
            flex-direction: column-reverse;
        }
        #back {
            text-align: center;
            justify-content: center;
        }

        #overhead {
            width: 100%;
        }

        #content {
            padding: 0%;
        }

        div#back > a::before {
            content: "✮*•̩̩͙✧•̩̩͙*˚✧*˚ ";
        }

        div#back > a::after {
            content: " ˚*✧˚*•̩̩͙✧•̩̩͙*˚✮";
        }
    }
</style>
